@charset "utf-8";

body{
    background-color: #fff8b3;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
h3{
    font-size: 30px;
}
.header {
    background-color: beige;
}

label{
    margin-right: 50px;
}
.btn-primary{
    padding: 10px 40px;
    background:coral;
    border-radius: 9px;
    color: white;
    margin: 20px;
}
input[name="action"]{
    padding: 10px 40px;
    background:coral;
    border-radius: 9px;
    color: white;
    margin: 20px;
}
input[name="back"],.btn-top{
    padding: 10px 40px;
    color:coral;
    background-color:white;
    border-radius: 9px;
    border-color:coral;
    margin-top: 40px;
}

.col-2{
    /*display: flex;*/
    margin-bottom: 10px;
}



