@charset "utf-8";


body{
    background-color: #fff8b3;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
h3{
    font-size: 30px;
}

.btn-primary{
    padding: 10px 40px;
    background:coral;
    border-radius: 9px;
    color: white;
    margin: 20px;
}
input[name="action"]{
    padding: 10px 40px;
    background:coral;
    border-radius: 9px;
    color: white;
    margin: 20px;
}
input[name="back"]{
    padding: 10px 40px;
    color:coral;
    border-radius: 9px;
    border-color:coral;
    margin-top: 40px;
}

/*.col-2{*/
/*    display: inline-block;*/
/*    text-align: left;*/
/*}*/
