@charset "utf-8";


body{
    background-color: #fff8b3;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
h3{
    font-size: 30px;
}
.row{
    text-align: left;
    margin-left: 41%;
}
label{
    margin-right: 50px;
}
.btn-primary{
    padding: 10px 40px;
    background:coral;
    border-radius: 9px;
    color: white;
    margin: 20px;
}
input[name="action"]{
    padding: 10px 40px;
    background:coral;
    border-radius: 9px;
    color: white;
    margin: 20px;
}
input[name="back"]{
    padding: 10px 40px;
    color:coral;
    border-radius: 9px;
    border-color:coral;
    margin-top: 40px;
}

.col-2{
    /*display: flex;*/
    margin-bottom: 10px;
}


/* div.row:nth-child(2) > label:nth-child(1) {
    margin-right: 50px;
    } */
